*.jar
!gradle
cert.key
cert.pem

# For jenv
.java-version

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
.idea/

.vscode
.project
.classpath
.settings

target/



write.lock
/var/
derby.log
logs/
